body{
     border: 1px solid;
     background-color: white;
     position: centered;

}
.button{
     background:blue;
     text-decoration: white;
     }
     input{
          padding: 6px 12px 6px 12px;
          border: 1px solid white;
          background: blue;
          text-decoration-color: white;
     }
     .text{
          color: white;
     }
     div{
          position: absolute;
     }
     